[submodule "private-repo"]
	path = private-repo
	url = https://github.com/Raminpahnabi/CE321_private.git
[submodule "private-repo-py"]
	path = private-repo-py
	url = https://github.com/Raminpahnabi/CE321_.py.git
[submodule "private-repo"]
        path = private-repo-km
        url = https://github.com/kendrickshepherd/CE321_with_Ramin.git
[submodule "private-repo.km"]
	path = private-repo-km
	url = https://github.com/kendrickshepherd/CE321_with_Ramin.git
